*
!*/

!*.pdf
!*.txt
!*.md
!*.tex
!LICENSE

!*.c
!*.h
!*.java
!*.ts
!*.tsx
!*.js
!*.jsx

!*.html
!*.css
!*.svg

!*.json
!*.xml
!*.properties
!*.yml
!*.yaml
!mvnw
!mvnw.cmd
!.mvn/**

!.gitignore

target/
*.class

node_modules/
dist/
build/

.idea/
.vscode/
*.iml

.DS_Store
__MACOSX/
Thumbs.db

*.log
*.tmp

.env
.env.local