# 1. Ignora tutti i file e le cartelle di default
*

# 2. Non ignorare le directory 
!*/

# 3. Non ignorare i file con i formati richiesti 
!*.pdf
!*.c
!*.css
!*.html
!*.htl
!*tex
!*.txt
!*.md
!*.LICENSE

# 4. Non ignorare il file .gitignore stesso
!.gitignore

# 5. AUTORIZZA TUTTO IL PROGETTO LABORATORIO
!Laboratorio/**

# 6. IGNORA I FILE INUTILI E PESANTI AL SUO INTERNO
.DS_Store
__MACOSX/
.idea/
target/
*.class
*.log